body{
	color: #333;
	font-family: Verdana;
}

.header-container {
	font-family: 'Abel';
	text-align: center;
}

.header-container h1 {
	font-size: 50px;
	margin: 35px 0;
}

.text-container {
	text-align: center;
	margin-bottom: 35px;
}

.text-container p {
	margin: 0;
}

.field-stats-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.field-container {
	margin-right: 25px;
}

.field-container textarea {
	border-radius: 5px;
	border:#333 solid 2px;
	padding: 10px;
	resize: none;
}

.field-container textarea:focus {
	outline: none;
}

.stats-container ul{
	list-style: none;
}

.stats-container .seconds{
	transition: 0.5s;
}

.stats-container .seconds.start{
	color: red;
	font-size: 15px;
}