body {
	color: #333;
	font-family: Helvetica;
  background-image: linear-gradient(to right , #6E5EA9, #478EC4);
}

/*#################################################################################
########################################## HEADER #################################
#################################################################################*/

/*########################################## TITLE #############################*/

.header-container {
	font-family: 'Abel';
	text-align: center;
  color: #9dd5f4;
}

.top-container h1 {
	font-size: 90px;
	margin: 35px 0;
  text-shadow: 0 0 6px rgba(157,213,244,.5);
}

/*########################################## LOADING #############################*/

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading div {
  position: absolute;
  -webkit-animation: lds-eclipse 1s linear infinite;
  animation: lds-eclipse 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 0 0 #9dd5f4;
  -webkit-transform-origin: 80px 85px;
  transform-origin: 80px 85px;
}

.loading {
  margin: 15px auto;
  position: relative;
  width: 37px !important;
  height: 37px !important;
  -webkit-transform: translate(-18.5px, -18.5px) scale(0.185) translate(18.5px, 18.5px);
  transform: translate(-18.5px, -18.5px) scale(0.185) translate(18.5px, 18.5px);
  display: none;
}

/*########################################## TEXT-EXAMPLE #############################*/

.text-container {
  margin-bottom: 25px;
}

.text-container p {
  color: white;
  font-size: 30px;
}

/*########################################## ERROR-AJAX #############################*/

.error-container{
  display: none;
}

.error-wrapper {
  position: relative;
  display: inline-block;
}

.error-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  filter: blur(1px);
  opacity: 0.6;
}

.error-container .wrapper {
  transform: translateZ(1px);
}

.error {
  padding: 20px 30px;
  color: red;
  display: inline-block;
  margin: 0;
}

.error i {
  margin-right: 15px;
}

/*########################################## STATS #############################*/

.stats-container {
  margin-top: 25px;
}

.stats-container ul {
  list-style: none;
  padding: 0;
}

.stats-container li {
  font-size: 20px;
  color: white;
  margin: 0 30px 15px 30px;
  transition: 0.5s;
}

.stats-container span {
  display: block;
}

.seconds.start{
  font-size: 30px;
}

#seconds {
 display: inline-block;
}

.seconds-icon {
  margin-top: 5px;
  display: block;
  transition: transform 1s;
}

.seconds-icon.game-over {
  transform: rotate(180deg);
}

/*#################################################################################
########################################## BODY ###################################
#################################################################################*/

/*########################################## FIELD #############################*/

.field-container {
  position: relative;
  padding: 0;
}

.field-container textarea {
  width: 100%;
  border: none;
  resize: none;
  font-family: Times New Roman;
  font-size: 50px;
  padding: 0;
  float: left;
}

textarea:focus {
  outline: none;
}

#field.green {
	color:#008000 ;
	background: #EAFFEA;
}

#field.red {
	color:#9B0000 ;
	background: #FFEAEA;
}

/*########################################## BUTTONS #############################*/

.buttons-table-container {
  padding: 0;
}

.buttons-container {  
  text-align: center;
}

button:focus {
  outline: none;
}

.buttons-container button {
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  margin: 25px 10px;
}

.restart {
  transition: 1s;
}

.restart:hover {
  transform: rotate(180deg);
}

.scores {
  transition: 0.3s;
}

.scores:hover {
  transform: translateY(-5px);
}

.random {
  transition: 0.3s;
}

.random:hover {
  transform: scale(1.2);
}

/*########################################## TABLE-RECORDS #############################*/

.table-wrapper {
  position: relative;
  margin: 0 auto;
}

.table-container {
  text-align: center;
  display: none;
  padding: 0;
}

.table-container h2{
  font-family: Abel;
  font-size: 50px;
  color: #9dd5f4;
  text-shadow: 0 0 6px rgba(157,213,244,.5);
  margin-bottom: 45px;
  text-transform: uppercase;
}

table {
  margin: 0;
  transform: translateZ(1px);
}

.table-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  opacity: 0.1;
  filter: blur(1px);
}

td, th {
  text-align: center;
  border: none;
}

th {
  color: #9dd5f4;
  text-shadow: 0 0 6px rgba(157,213,244,.5);
  font-family: Abel;
  text-transform: uppercase;
  font-size: 25px;
}

td {
  color: white;
  font-size: 20px;
  font-family: Abel;
}

td i {
  cursor: pointer;
}

.table tbody>tr>td,
.table thead>tr>th{
  border: none;
}
